<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SanitySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:44</td>   <td>9213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">loginPageTitleTest</td> 
  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:45</td>   <td>9487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.getResult(org.testng.ITestResult)[pri:0, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:45</td>   <td>9517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyForgotPasswordWithProperEmail()[pri:2, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">verifyForgotPasswordWithProperEmail</td> 
  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:47</td>   <td>11911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.getResult(org.testng.ITestResult)[pri:0, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:47</td>   <td>11990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyForgotPasswordWithInvalidEmail()[pri:3, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">verifyForgotPasswordWithInvalidEmail</td> 
  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:49</td>   <td>13468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.getResult(org.testng.ITestResult)[pri:0, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:14:49</td>   <td>13474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:4, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">loginTest</td> 
  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:15:32</td>   <td>56654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.getResult(org.testng.ITestResult)[pri:0, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1745043985</td>   <td></td> </tr>
<tr bgcolor="bb6ba9">  <td>21/10/17 12:15:32</td>   <td>56677</td> <td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.arc.qa.testcases.LoginModule.LoginPageTest@4f4c4b1a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1745043985</td>   <td></td> </tr>
</table>
